@import "var.scss";
@import "global.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.weekly-report {
  width: 80%;
  margin: 15vh auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 周报标题 */
.weekly-report h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.most-played-song, .most-favorited-playlist, .highest-rated-playlist, .user-followers {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1em;
  padding: 8px 0;
  border-bottom: 1px solid #eaeaea;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  border-bottom: none;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .most-played-song, .most-favorited-playlist, .highest-rated-playlist, .user-followers {
    width: 95%;
  }

  h2 {
    font-size: 1.5em;
  }

  p, li {
    font-size: 0.9em;
  }
}

.song-info {
  text-align: center; /* 文本居中 */
  margin: 20px auto; /* 外边距上下方各20px，左右自动 */
  padding: 20px; /* 内边距20px */
  background-color: #ffffff; /* 背景颜色 */
  border-radius: 10px; /* 边框圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  width: 200px; /* 最大宽度 */
  transition: box-shadow 0.3s ease; /* 阴影过渡效果 */
}

.song-info:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 鼠标悬停时更深的阴影 */
}

.song-info img {
  max-width: 100%; /* 图片宽度不超过容器宽度 */
  height: auto; /* 高度自适应 */
  border-radius: 5px; /* 图片边框圆角 */
  margin-bottom: 15px; /* 图片下方的外边距 */
}

.song-info p {
  font-size: 1em; /* 字体大小 */
  color: #333333; /* 字体颜色 */
  margin: 0; /* 段落边距为0 */
  padding: 10px 0; /* 段落内边距上下方各10px */
  border-bottom: 1px solid #eeeeee; /* 底部边框 */
}

.song-info p:last-child {
  border-bottom: none; /* 最后一个段落没有底部边框 */
}

/* 响应式设计 */
@media (max-width: 768px) {
  .song-info {
    margin: 10px; /* 在小屏幕上减少外边距 */
    padding: 15px; /* 减少内边距 */
  }

  .song-info p {
    font-size: 0.9em; /* 在小屏幕上减小字体大小 */
  }
}
