.box {

  display: flex;
  background-color: darkslategrey;

  .the-aside {
    width: 400px;

    // 定义旋转动画
    @keyframes rotate-image {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .img {
      display: inline-block; // 确保元素能够围绕其中心旋转
      width: 300px;
      height: 300px;
      border: 5px solid;
      border-radius: 50%; // 形成圆形
      border-color: #c0c0c0; // 更改边框颜色
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); // 添加阴影效果，参数依次为：水平偏移、垂直偏移、模糊半径、颜色透明度

      overflow: hidden;
      background-color: #fff;
      margin: 20vh 5vw 5vh; // 外边距属性

      // 添加旋转动画
      animation: rotate-image 18s linear infinite; // 动画名称、持续时间、速度曲线、循环次数

    }

    .show {
      font-size: 16px;
      margin-left: 5vw; // 外边距属性
    }

    .show h3 {
      font-weight: normal;
      margin-left: 80px;
      color: #fff;
    }

    .show h3 span {
      color: #2aa3ef;
    }

    .download {
      font-weight: normal;
      margin-left: 80px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
    }
    .download:hover {
      color: seagreen;
    }

  }

  .content {
    max-height: 100vh;
    .lyric-title {
      margin-top: 15vh;
      text-align: center;
      color: #fff;
      font-weight: bold;
    }

    .song-lyric {
      margin: 10px auto;
      width: 600px;
      height: 400px;
      overflow-x: hidden;
      overflow-y: scroll;
      border-radius: 12px;
      padding: 0 20px 50px 20px;
      font-family: sans-serif;
      scroll-behavior: smooth;

      .has-lyric {
        font-size: 16px;
        padding: 30px 0;
        width: 100%;
        min-height: 170px;
        text-align: center;
        transition: opacity 2s ease-in-out; // 添加过渡效果

        li {
          width: 100%;
          height: 40px;
          line-height: 40px;
          color: #fff;
          opacity: 0.5;
        }
      }

      .no-lyric {
        margin: 200px 0;
        width: 100%;
        text-align: center;

        span {
          font-size: 16px;
          text-align: center;
        }
      }
    }

    .lyric-fade-enter,
    .lyric-fade-leave-to {
      transform: translateX(30px);
      opacity: 0;
    }

    .lyric-fade-enter-active,
    .lyric-fade-leave-active {
      transition: all 0.3s ease;
    }

    .song-lyric::-webkit-scrollbar {
      display: none;
    }

    .comment {
      width: 500px;
      margin: 10px auto 100px;
    }

  }

}


