@import "var.scss";

.my-music {
  //margin-top: $header-height;
  //padding-top: 150px;
  //background-color: $theme-background-color;
  //
  //&::before {
  //  /*背景*/
  //  content: "";
  //  background-color: $theme-color;
  //  position: absolute;
  //  top: 0;
  //  width: 100%;
  //  height: $header-height + 150px;
  //}
}

/*顶部*/
.album-header {
  margin-top: $header-height;
  background-image: url('../../assets/img/starsky.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;

  // 图片
  .album-img {
    margin-top: $header-height - 30px;
    height: 150px;
    width: 150px;
    display: inline-block;
    position: relative;
    left: 45%;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid $color-white;
    background-image: url('../../assets/img/user.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .basic-info-under-avatar {
    position: relative;
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    color: $color-white;
  }

  .album-menu {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: $header-padding;
    //background-color: $theme-header-color;
    box-sizing: border-box;

    li {
      margin: $header-nav-margin;
      padding: $header-nav-padding;
      font-size: $font-size-header;
      color: $color-white;
      text-align: center;
      border-bottom: none;
      box-sizing: border-box;
      cursor: pointer;

    }
  }

  .current {
    color: darkcyan !important

  }
}




