.my-song-list {
  margin: 40px;

  .icons-above {
    margin: 10px 35px;
    display: flex;
    .create-btn {
      background: #DCDCDC;
      color: black;
      width: 120px;
      font-size: 16px;
      cursor: pointer;
    }

    .create-btn:hover {
      background: #C0C0C0;
    }
    .change-style {
      fill: lightpink;
      cursor: pointer;
      margin-left: 75%;
      transition: transform 0.3s ease;
    }
    .change-style:hover {
      fill: pink;
      transform: scale(1.1);
    }
  }

  .menu {
    width: 100%;
    margin: 30px;
    color: darkgrey;
    font-size: 24px;
    .menu-songList {
      width: 30%;
    }
    .menu-introduction {
      margin-left: 420px;
    }
    .menu-style {
      margin-left: 315px;
    }
  }
  .item-content {
    width: 100%;
    margin: 10px 30px;
    .item {
      text-align: center;
      font-size: 18px;
      display: flex;
      .img-container {
        width: 80px;
        height: 80px;
        overflow: hidden;
        background: #008800;
      }
      .img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
      }
    }
    .item-title {
      //background: #67c23a;
      width: 100px;
      height: 30px;
      margin: 25px;
      color: black;

    }
    .item-introduction {
      margin-left: 30px;
      margin-top: 25px;
      width: 480px;
      color: black;
    }
    .item-style {
      //background: #67c23a;
      width: 200px;
      margin-left: 30px;
      margin-top: 25px;
    }
    .delete-icon {
      width: 50px;
      //background: black;
      margin-left: 100px;
      margin-top: 25px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .delete-icon:hover {
      transform: scale(1.1);
    }
    .edit-icon {
      width: 50px;
      margin-top: 25px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .edit-icon:hover {
      transform: scale(1.1);
    }
    .picture-icon {
      width: 50px;
      margin-top: 25px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .picture-icon:hover {
      transform: scale(1.1);
    }
  }

  .pink {
    background: rgba(255,240,245,0.3);
  }
}
