.basicInfo {
  padding: 10px 50px;
  .title {
    font-size: 24px;
    margin: 20px;
    width: 100px;
    text-align: center; /* 标题左对齐 */
    background: gray;
  }

  .content {
    width: 300px;
    height: 50px;
    font-size: 22px;
    margin-left: 100px;
    text-align: center; /* 内容居中对齐 */
    background: white;

  }

}
