@import "var.scss";
@import "global.scss";

.signUp {
  position: absolute;
  top: 50%; /* 垂直居中 */
  left: 50%; /* 水平居中 */
  background: linear-gradient(-45deg, #e3f6ec, #a3d8f4); /* 从浅蓝色渐变到深蓝色 */
  border-radius: 10px;
  width: 450px;
  margin: 0; /* 清除原有的外边距 */
  padding: 30px 30px;
  transform: translate(-50%, -50%); /* 使用CSS的transform属性来调整位置 */

  .signUp-head {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black; /* 设置文字颜色为黑色 */
  }
  //.get-code-button {
  //  padding: 10px 20px;
  //  background-color: #409eff;
  //  color: white;
  //  border: none;
  //  border-radius: 4px;
  //  cursor: pointer;
  //}
  .login-btn {
    @include layout(space-between);
    button {
      display: block;
      width: 50%;
    }
  }
  .code-input-group {
    position: relative;
  }

  .input-with-button {
    position: absolute;
    /* 具体位置视情况而定 */
    top: 2px;
    right: 0;
  }

}
.gradient-background {
  /* 设置元素的背景为冷色调的径向渐变 */
  background: linear-gradient(to right, #56CCF2, #2F80ED, #91D2FA);

  /* 确保渐变背景覆盖整个元素 */
  min-height: 100vh; /* 使用视口高度的100% */
  /* 使元素中的文本可读 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* 其他样式 */
  color: white; /* 文本颜色为白色，以确保在冷色调背景上可读 */
  padding: 20px;
}
