@import "var.scss";

.song-album {
  margin-top: $header-height;
  padding-top: 150px;
  background-color: $theme-background-color;

  &::before {
    /*背景*/
    content: "";
    background-color: $theme-color;
    position: absolute;
    top: 0;
    width: 100%;
    height: $header-height + 150px;
  }
}


/*左*/
.album-slide {
  float: left;

  .singer-img {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    top: -100px;
    left: 50px;
    border-radius: 10%;
    overflow: hidden;
    border: 5px solid $color-white;
    background-color: $color-white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    color: $color-black;
    font-size: 20px;
    font-weight: 500;
    margin-top: -80px;
    padding: 30px 40px 30px 60px;

    li {
      width: 100%;
      height: 40px;
      font-weight: bold;
    }
  }
}

/*右*/
.album-content {
  margin-left: 340px;
  padding: 20px 100px;

  .songs-body {
    margin-top: 50px;
    background-color: $color-white;
    border-radius: 12px;
    padding: 0 40px 50px 40px;
    min-width: 700px;
    cursor: pointer;
  }

  .album-title {
    font-size: 34px;
    font-weight: 500;
  }

  li {
    margin-right: 24px;
    margin-top: 15px;
    font-size: 16px;
  }
}

.play-icon {
  display: flex;
  font-size: 18px;
  color: whitesmoke;
  margin-top: 25px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background: #3CB371;
  fill: ghostwhite;
  cursor: pointer;
}

.play-icon:hover {
  background: #2E8B57;
}

.collect {
  display: flex;
  font-size: 17px;
  color: black;
  margin-top: 27px;
  margin-left: 30px;
  width: 115px;
  height: 37px;
  border-radius: 3px;
  border: 1px solid gray;
  fill: gray;
  cursor: pointer;
}
.have-collected {
  fill: orange;
}
.button-box {
  display: flex;
  font-size: 17px;
  color: black;
  margin-top: 27px;
  margin-left: 30px;
  width: 115px;
  height: 37px;
  border-radius: 3px;
  border: 1px solid gray;
  fill: gray;
  cursor: pointer;
}
.button-box:hover {
  background: lightgrey;
}

.complain {
  display: flex;
  font-size: 17px;
  color: #ffffff;
  margin-top: 27px;
  margin-left: 30px;
  width: 115px;
  height: 37px;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgba(255, 0, 0, 0.8);
  cursor: pointer;
}

.select-song-list {
  border: 1px solid gray;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
  background: rgba(220, 220, 220, 0.5);
  margin: 10px;
  .select-item {
    border-bottom: 0.8px solid lightgray;
    width: 150px;
    font-size: 14px;
    display: flex;
    cursor: pointer;

    .img-container {
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
    .img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .select-title {
      width: 100px;
      text-align: center;
      align-content: center;
    }
  }
  .select-item:hover {
    background: darkgrey;
  }
}

.lyric {
  margin: 100px 100px;

  .lyric-context {
    margin-top: 15px;
    font-size: 16px;
  }
}


