@import "var.scss";
@import "global.scss";

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .2s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.the-aside {
  font-size: 16px;
  width: 250px;
  height: 370px;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 99;
  background-color: $color-white;
  @include box-shadow(1px 1px 10px rgba(0, 0, 0, 0.4));
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

}

.title {
  padding-left: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  text-decoration: underline;
  text-decoration-color: $color-blue;
}

.menus {
  display: flex;
  background-color: $color-white;
  width: 100%;
  height: calc(100% - 19px);
  cursor: pointer;
  z-index: 100;
  overflow: scroll;
  white-space: nowrap;
  li {
    //display: flex;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s; /* 添加过渡效果 */

    &:hover{
      background-color: $color-blue;
      color: $color-white;
    }

    .song-cover {
      width: 32px; // 调整图片宽度
      height: 32px; // 保持纵横比
      margin-right: 10px; // 为文本添加右边距
      display: inline-block; // 使图片可以与其他文本在同一行
      vertical-align: middle; // 与行内元素垂直对齐
      border-radius: 5px; // 添加正方形的圆角

    }

    .is-play-song-cover {
      width: 32px; // 调整图片宽度
      height: 32px; // 保持纵横比
      margin-right: 10px; // 为文本添加右边距
      display: inline-block; // 使图片可以与其他文本在同一行
      vertical-align: middle; // 与行内元素垂直对齐
      border-radius: 50%; // 添加正方形的圆角

    }

  }

  .no-music {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 100%;
    font-size: 1.2em;
    color: #999;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
  }

  .active {
    background-color: $color-blue;
    color: $color-white;
  }
}

.is-play{
  color: $color-blue-active;
  font-weight: bold;

  // 应用旋转动画
  .song-cover {
    animation: rotate-animation 18s linear infinite; // 2秒完成一次360度旋转，平滑进行，无限循环
  }
}

// 动画定义
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
