<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.imusic.dao.RankMapper">
    <resultMap id="BaseResultMap" type="com.java.imusic.domain.Rank" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="song_list_id" jdbcType="INTEGER" property="songListId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,song_list_id,user_id,score
    </sql>

    <insert id="insert" parameterType="com.java.imusic.domain.Rank">
        insert into `rank`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="songListId != null">
                song_list_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix=" values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="songListId != null">
                #{songListId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="score != null">
                #{score},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.java.imusic.domain.Rank">
        update `rank`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="songListId != null">
                song_list_id = #{songListId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectScoreSum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select sum(score) as score
        from `rank`
        where song_list_id = #{songListId}
    </select>

    <select id="selectRankNum" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select count(*) as num
        from `rank`
        where song_list_id = #{songListId}
    </select>

    <select id="getRank" resultType="com.java.imusic.domain.Rank" parameterType="com.java.imusic.domain.Rank">
        select *
        from `rank`
        where song_list_id = #{songListId}
        and user_id = #{userId}
        limit 1
    </select>
</mapper>
















